In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
import mysql.connector

# making connections
connection=mysql.connector.connect(host = '18.136.157.135',
                                  user='dm_team3',
                                  password='DM!$!Team!27@9!20&')
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001E3FFC6AE90>

In [3]:
# getting the databse name
cursor=connection.cursor()
cursor.execute('show databases')
for i in cursor:
    print(i)

('information_schema',)
('project_telecom',)

In [4]:
# connecting the database
connection=mysql.connector.connect(host='18.136.157.135',
                                  user='dm_team3',
                                  password='DM!$!Team!27@9!20&',
                                  database='project_telecom')

In [5]:
db_tables=pd.read_sql_query('show tables',connection)
print(db_tables)

  Tables_in_project_telecom
0        telecom_churn_data

In [6]:
query="select * from telecom_churn_data"

In [7]:
data=pd.read_sql(query,connection)
data

,columns1,columns2,columns3,columns4,columns5,columns6,columns7,columns8,columns9,columns10,...,columns12,columns13,columns14,columns15,columns16,columns17,columns18,columns19,columns20,columns21
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10,3,2.7,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.7,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.3,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.9,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4612,NY,57,510,345-7512,no,yes,25,144,81,24.48,...,112,15.91,158.6,122,7.14,8.5,6,2.3,3,False.
4613,NM,177,408,343-6820,no,yes,29,189,91,32.13,...,96,25.76,163.6,116,7.36,15.7,1,4.24,3,False.
4614,VT,67,408,338-4794,no,yes,33,127.5,126,21.68,...,129,25.17,200.9,91,9.04,13,3,3.51,1,False.
4615,MI,98,415,355-8388,no,yes,23,168.9,98,28.71,...,117,19.24,165.5,96,7.45,14.3,3,3.86,0,False.
4616,IN,140,415,409-6884,no,no,0,204.7,100,34.8,...,107,10.78,202.8,115,9.13,12.1,4,3.27,2,False.

In [8]:
# Rename columns
data.rename(columns={'columns1': 'State', 'columns2':'Account Length','columns3':'Area Code','columns4':'Phone','columns5':'International Plan','columns6':'VMail Plan','columns7':'VMail Message','columns8':'Day Mins','columns9':'Day Calls','columns10':'Day Charge','columns11':'Eve Mins','columns12':'Eve Calls','columns13':'Eve Charge','columns14':'Night Mins','columns15':'Night Calls','columns16':'Night Charge','columns17':'International Mins','columns18':'International calls','columns19':'International Charge','columns20':'CustServ Calls','columns21':'Churn'}, inplace=True)

# Show the updated DataFrame
print(data)

     State Account Length Area Code      Phone International Plan VMail Plan  \
0       KS            128       415   382-4657                 no        yes
1       OH            107       415   371-7191                 no        yes
2       NJ            137       415   358-1921                 no         no
3       OH             84       408   375-9999                yes         no
4       OK             75       415   330-6626                yes         no
...    ...            ...       ...        ...                ...        ...
4612    NY             57       510   345-7512                 no        yes
4613    NM            177       408   343-6820                 no        yes
4614    VT             67       408   338-4794                 no        yes
4615    MI             98       415   355-8388                 no        yes
4616    IN            140       415   409-6884                 no         no

     VMail Message Day Mins Day Calls Day Charge  ... Eve Calls Eve Charge  \
0               25    265.1       110      45.07  ...        99      16.78
1               26    161.6       123      27.47  ...       103      16.62
2                0    243.4       114      41.38  ...       110       10.3
3                0    299.4        71       50.9  ...        88       5.26
4                0    166.7       113      28.34  ...       122      12.61
...            ...      ...       ...        ...  ...       ...        ...
4612            25      144        81      24.48  ...       112      15.91
4613            29      189        91      32.13  ...        96      25.76
4614            33    127.5       126      21.68  ...       129      25.17
4615            23    168.9        98      28.71  ...       117      19.24
4616             0    204.7       100       34.8  ...       107      10.78

     Night Mins Night Calls Night Charge International Mins  \
0         244.7          91        11.01                 10
1         254.4         103        11.45               13.7
2         162.6         104         7.32               12.2
3         196.9          89         8.86                6.6
4         186.9         121         8.41               10.1
...         ...         ...          ...                ...
4612      158.6         122         7.14                8.5
4613      163.6         116         7.36               15.7
4614      200.9          91         9.04                 13
4615      165.5          96         7.45               14.3
4616      202.8         115         9.13               12.1

     International calls International Charge CustServ Calls    Churn
0                      3                  2.7              1   False.
1                      3                  3.7              1   False.
2                      5                 3.29              0   False.
3                      7                 1.78              2   False.
4                      3                 2.73              3   False.
...                  ...                  ...            ...      ...
4612                   6                  2.3              3   False.
4613                   1                 4.24              3   False.
4614                   3                 3.51              1   False.
4615                   3                 3.86              0   False.
4616                   4                 3.27              2   False.

[4617 rows x 21 columns]

In [9]:
data

,State,Account Length,Area Code,Phone,International Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,International Mins,International calls,International Charge,CustServ Calls,Churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10,3,2.7,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.7,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.3,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.9,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4612,NY,57,510,345-7512,no,yes,25,144,81,24.48,...,112,15.91,158.6,122,7.14,8.5,6,2.3,3,False.
4613,NM,177,408,343-6820,no,yes,29,189,91,32.13,...,96,25.76,163.6,116,7.36,15.7,1,4.24,3,False.
4614,VT,67,408,338-4794,no,yes,33,127.5,126,21.68,...,129,25.17,200.9,91,9.04,13,3,3.51,1,False.
4615,MI,98,415,355-8388,no,yes,23,168.9,98,28.71,...,117,19.24,165.5,96,7.45,14.3,3,3.86,0,False.
4616,IN,140,415,409-6884,no,no,0,204.7,100,34.8,...,107,10.78,202.8,115,9.13,12.1,4,3.27,2,False.

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4617 entries, 0 to 4616
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   State                 4617 non-null   object
 1   Account Length        4617 non-null   object
 2   Area Code             4617 non-null   object
 3   Phone                 4617 non-null   object
 4   International Plan    4617 non-null   object
 5   VMail Plan            4617 non-null   object
 6   VMail Message         4617 non-null   object
 7   Day Mins              4617 non-null   object
 8   Day Calls             4617 non-null   object
 9   Day Charge            4617 non-null   object
 10  Eve Mins              4617 non-null   object
 11  Eve Calls             4617 non-null   object
 12  Eve Charge            4617 non-null   object
 13  Night Mins            4617 non-null   object
 14  Night Calls           4617 non-null   object
 15  Night Charge          4617 non-null   object
 16  International Mins    4617 non-null   object
 17  International calls   4617 non-null   object
 18  International Charge  4617 non-null   object
 19  CustServ Calls        4617 non-null   object
 20  Churn                 4617 non-null   object
dtypes: object(21)
memory usage: 757.6+ KB

In [23]:
columns_to_convert = ['Account Length', 'Area Code', 'VMail Message', 'Day Calls', 'Eve Calls', 'Night Calls', 'International calls', 'CustServ Calls']

data[columns_to_convert] = data[columns_to_convert].astype('int64')

In [27]:
Column_to_float_convert = ['Day Mins', 'Day Charge', 'Eve Mins', 'Eve Charge', 'Night Mins', 'Night Charge', 'International Mins', 'International Charge']

data[Column_to_float_convert] = data[Column_to_float_convert].astype('float64')

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4617 entries, 0 to 4616
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   State                 4617 non-null   object
 1   Account Length        4617 non-null   int64
 2   Area Code             4617 non-null   int64
 3   Phone                 4617 non-null   object
 4   International Plan    4617 non-null   object
 5   VMail Plan            4617 non-null   object
 6   VMail Message         4617 non-null   int64
 7   Day Mins              4617 non-null   float64
 8   Day Calls             4617 non-null   int64
 9   Day Charge            4617 non-null   float64
 10  Eve Mins              4617 non-null   float64
 11  Eve Calls             4617 non-null   int64
 12  Eve Charge            4617 non-null   float64
 13  Night Mins            4617 non-null   float64
 14  Night Calls           4617 non-null   int64
 15  Night Charge          4617 non-null   float64
 16  International Mins    4617 non-null   float64
 17  International calls   4617 non-null   int64
 18  International Charge  4617 non-null   float64
 19  CustServ Calls        4617 non-null   int64
 20  Churn                 4617 non-null   object
dtypes: float64(8), int64(8), object(5)
memory usage: 757.6+ KB